html,
body {
    height: 100%;
    width: 100%;
}

.bg {
    background: rgb(147, 206, 222);
    background: -moz-linear-gradient(top, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
    background: linear-gradient(to bottom, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0);
}

.main-headline h1 {
    color: #ffffff;
    font-weight: 900;
    padding-top: 20px;
    font-size: 5em;
}

.panel-footer {
    padding-top: 5px;
}
table {
    margin: 0 auto;
}
#gameRow1 td,
#gameRow2 td,
#gameRow3 td {
    border: 2px solid red;
    padding: 75px;
}